body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  color: black;
}
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
}
.navbar_logo  > img{
  height: 4rem;
  width: auto;
}
.navbar_text {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 0px 20px;
}
.nav_items {
  margin-left: auto;
  margin-right: 5rem;
}
.nav_items > a {
  margin-left: 50px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
.nav_items > a:hover {
  border-bottom: 3px solid  #6415FF;
  box-sizing: border-box;
  color: #6415FF;
  transition: border 100ms  ease-in;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  flex-wrap: wrap;
}
.hero_text {
  max-width: 48rem;
  margin-left: 50px;
}
.hero_heading, .services_heading > h1 {
  font-size: 3rem;
  color: #243E63;
  font-weight: 900;
}
.hero_heading > span , .services_heading > h1 > span{
  background-color: rgb(100, 21, 255);
  color: rgb(247, 250, 252);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: -12deg;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  display: inline-block;
}
.hero_text > p {
  max-width: 30rem;
  color: #7180A4;
  font-weight: 500;
}
.hero_image > img {
  height: auto;
  width: 100%;
  max-width: 640px;
  border-radius: 50px;
  margin-top: 2rem;
}
.hero_buttons {
  max-width: 24rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.hero_buttons > .start {
  padding: 7px 50px;
  background-color: #6415FF;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.hero_buttons > .watch {
  font-size: 20px;
  cursor: pointer;
}
.watch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watch > span {
  padding: 10px;
}
.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  flex-wrap: wrap;
  width: auto;
}
.services_heading {
  text-align: center;
}
.services_items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80vw;
  width: 100%;
}
.services_item_ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.item_content{
  max-width: 200px;
  text-align: center;
  box-sizing: border-box;
}
.services_item_:hover {
  transform: scale(1.1);
  transition: transform 300ms ease-in-out;
}
.item_content > span {
  color: #6415FF;
  cursor: pointer;
}
footer {
  background-color: #6415FF;
  width: 100%;
  text-align: center;
  color: white;
  font-size: larger;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}
footer > span, footer > span > a {
  margin: 0;
  color: white;
}

.login {
  background-color: #6415FF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login_body {
  display: flex;
  background-color:#EEEFF3;
  width: 70vw;
  height: 80vh !important;
  border-radius: 10px;
}

.login_body_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.login_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  2rem 3rem ;
}
.login_logo > img {
  height: 5rem;
  width: auto;
}
.login_button {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  background-color: rgb(247, 250, 252);
  padding: 10px 30px;
  margin: 10px auto;
  border-radius: 0.5rem;
  border: 1px solid #e2e8f0;
  cursor: pointer;
}
.login_button:hover {
  background-color:rgb(237, 242, 247) ;
}
.login_button_img > img{
  height: 1.3rem;
}
.login_button_text {
  margin-left: 10px;
}

.login_button_text > span {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
.login_body_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEFF3;
  border-radius: 10px;
}
.login_body_svg > img {
  height: auto;
  width: 100%;
}
.mark_attendance {
  background: #6415FF;
  height: 100vh;
  width: 100vw;
}
.user_nav {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(55, 56, 56,0.5);
}
.nav_links > a{
  padding-left: 3rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.nav_user {
  margin-left: auto ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 0px 10px;
}
.nav_user > span > span {
  font-size: 10px;
  text-align: center;
}
.nav_user > img {
  border-radius: 100%;
  height: 2rem;
  margin-right: 10px;
}
.videocam {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.videocam > video {
  border-radius: 20px;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100%;
}
.attendance_heading {
  text-align: center;
}
.attendance_heading > h1 {
  margin-bottom: 0px;
  color: white;
}
.newuser {
  background-color: #6415FF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.newuser_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newuser_img > img {
  border-radius: 100%;
  position: absolute;
  height: 10rem;
}
.newuser_body {
  text-align: center;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 5rem;
  height: 50vh;
}
.newuser_body > p > span {
  color: red;
}
.imageupload {
  margin:  4rem;
}
.imageupload > form > button{
  background-color: #6415FF;
  padding: 10px 40px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin: 10px;
}
.videocam > div {
  margin-top: 10rem;
}
.success {
  text-align: center;
  margin-top: 10rem;
  box-sizing: border-box;
}
.success > h1 {
  color: white;
}
.success > div {
  margin-top: 5rem;
}
.imageupload > form > input {
  display: none;
}
.imageupload > form > label {
  cursor: pointer;
  margin-right: 20px;
  background-color: #6415FF;
  padding: 10px 30px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  
}
.MuiButton-label > span {
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: medium;
  padding-right:10px;
}